.container-fluid {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 22px 108px 26px;
    padding-top: 22px;
    padding-right: 108px;
    padding-bottom: 26px;
    padding-left: 108px;
    max-width: 396px;
    margin-top: 100px;
   text-align: center;
  }
  
  